# Created by .ignore support plugin (hsz.mobi)
.idea
.gitignore
README.md
*.iml
.idea/inspectionProfiles/
.idea/libraries/Maven__com_alibaba_fastjson_1_2_10.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_4.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_redis_2_1_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_commons_2_1_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_keyvalue_2_1_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_redis_2_0_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_support_5_1_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_oxm_5_1_6_RELEASE.xml
demo/target/
