<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace='com.example.demo.mapper.DeptMapper'>
    <select id="get" resultType="com.example.demo.pojo.Dept">
      select * from dept where no = #{no, jdbcType=INTEGER}
    </select>
</mapper>